.button {
  background-color: white;
  border: 1px solid $grey;
  color: $grey;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $m-size;
  text-decoration: none;
}

.button--link {
  background: none;
  border: none;
  color: $blue;
}

.button--secondary {
  background: #DE0B3D;
  border: none;
  color: white;
  margin-bottom: $m-size;
}
