// .header {
//   color: $blue;
// }

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__logo {
  background: url('/images/logo.png');
  background-size: cover;
  display: inline-block;
  height: 5rem;
  vertical-align: middle;
  width: 5rem;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    color: $blue;
    margin: 0;
  }
}
